<p ng-init="showSubPage = 'showListLesson'">Lesson's list</p>
<div class="btn-group" role="group" aria-label="">
    <button type="button" class="btn btn-secondary" ng-click="showSubPage = 'showListLesson'">Show List</button>
    <button type="button" class="btn btn-secondary" ng-click="showSubPage = 'showNewLesson'">Add New</button>
    <button type="button" class="btn btn-secondary" ng-click="showSubPage = 'showModifyLesson'">Modify</button>
</div>

<br>

<div ng-if="showSubPage == 'showNewLesson'">
    <br>
    <input type="text" class="form-control" ng-model="newLesson.name" placeholder="Name">
    <input type="text" class="form-control" ng-model="newLesson.description" placeholder="Description">
    <br>

    <button type="button" class="btn btn-secondary float-right" ng-click="save(newLesson)">Save
    </button>
</div>

<div ng-if="showSubPage == 'showModifyLesson'">
    <br>

    <select class="form-control" ng-model="currentLesson"
            ng-options="lesson as lesson.name for lesson in lessons" ng-change="currentLessonChanged(currentLesson)">
    </select>
    <input type="text" class="form-control" ng-model="currentLesson.name" placeholder="Name">
    <input type="text" class="form-control" ng-model="currentLesson.description" placeholder="Description">

    <br>

    <div ng-if="currentLesson" style="height: 300px; overflow-y: scroll;">
        <br>
        <div class="list-group-item"
             ng-repeat="entity in allLessonQuestionTypes | orderBy: 'name'" >
            <div class="row">
                <div class="col-md-1"><input type="checkbox" ng-model="entity.active"/></div>
                <div class="col-md-5">{{ entity.name }}</div>
                <div class="col-md-6"><i>{{ entity.description }}</i></div>
            </div>
        </div>
    </div>

    <br>
    <button type="button" class="btn btn-success float-right" ng-disabled="!currentLesson" ng-click="save(currentLesson)">Save</button>

</div>

<div ng-if="showSubPage == 'showListLesson'" style="height: 500px; overflow-y: scroll;">
    <br>
    <div class="list-group-item" ng-repeat="entity in lessons | orderBy: 'name'">
        <div class="row">
            <div class="col-md-6">{{ entity.name }}</div>
            <div class="col-md-6"><i>{{ entity.description }}</i></div>
        </div>
    </div>
</div>
