<h4 ng-init="showSubPage = 'showList'">Sentences</h4>
<div class="btn-group" role="group" aria-label="">
    <button type="button" class="btn btn-secondary" ng-click="showSubPage = 'showList'">Show List</button>
    <button type="button" class="btn btn-secondary" ng-click="showSubPage = 'showNew'">Add New</button>
    <button type="button" class="btn btn-secondary" ng-click="showSubPage = 'showModify'">Modify</button>
</div>

<br>

<div ng-if="showSubPage == 'showNew'">
    <br>
    <input type="text" class="form-control" ng-model="entity.name" placeholder="Name">

    <!--input type="text" class="form-control" ng-model="entity.qtsentence.question" placeholder="Question">
    <input type="text" class="form-control" ng-model="entity.qtsentence.answer" placeholder="Question">
    <input type="text" class="form-control" ng-model="entity.qtsentence.keyboard"
           placeholder="KeyBoard rows separeted by ';'"-->
    <br>

    <button type="button" class="btn btn-secondary float-right" ng-click="saveSentence(entity)">Save
    </button>
</div>

<div ng-if="showSubPage == 'showModify'">
    <p>TODO</p>
</div>

<div ng-if="showSubPage == 'showList'" style="height: 500px; overflow-y: scroll;">
    <br>
    <div class="list-group-item" ng-repeat="entity in sentences | orderBy: 'name'">
        <div class="row">
            <div class="col-md-6">{{ entity.name }}</div>
            <div class="col-md-6"><i>( {{ entity.questions.length }} questions) </i></div>
        </div>
    </div>
</div>
