<div ng-if="configAlert" class="alert alert-warning" role="alert">
    {{ configAlert }}
</div>

<h4 ng-init="$root.currentConfigTemplate = 'templates/configs/list_configs.html'" style="padding: 16px 0px 16px 0px">
    Конфигурации</h4>

<div class="btn-group" role="group" aria-label="">
    <button type="button" class="btn btn-secondary"
            ng-click="$root.currentConfigTemplate = 'templates/configs/list_configs.html'">Список конфигураций
    </button>
    <button type="button" class="btn btn-secondary"
            ng-click="$root.currentConfigTemplate = 'templates/configs/modify_config.html'">Изменить конфигурацию
    </button>
</div>

<br>

<div id="config_content">
    <div ng-include="$root.currentConfigTemplate"></div>
</div>
