<br>
<div style="height: 400px; overflow-y: scroll;">
    <div class="list-group-item" ng-repeat="entity in sentences | filter : sentenceFilter | orderBy: 'name'">
        <div class="row">
            <div class="col-md-6">{{ entity.name }}</div>
            <div class="col-md-4">
                ({{ entity.questions.length }} вопрос(-а/-ов))
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                      title="{{ getSentenceQTforTooltip(entity) }}"></span>
            </div>
            <div class="col-md-2">
                <button class="btn btn-warning btn-sm float-right"
                        ng-click="deleteSentence(entity)">Удалить
                </button>
            </div>
        </div>
    </div>
</div>